docker/mongo/mongo_data/*
docker/logs/*
.env
app/node_modules
app/.pnpm-store/
app/.next/*
!app/.next/
.history/
docker/cron/node_modules/
docker/cron/cron.log
docker/cron/update_products_log.txt
docker/cron/error_pages/
docker/cron/error_screenshots/
**/node_modules/

parser/logs/**
parser2/logs/**
**/html_logs/**